<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
th:with="link=@{/cliente/home}">

<!-- recebendo a variável ${link} como paramentro em cliente-home: add th:with="link=@{/cliente/home}>-->
<body>
<div layout:fragment="content">
    <form method="get" th:object="${searchFilter}" th:action="@{/cliente/search}" id="form">
        <input type="hidden" th:field="*{searchType}" id="searchType">
        <input type="hidden" th:field="*{categoriaId}" id="categoriaId">
        <div>
          <h1>É hora de rangar!</h1>
          <!-- th:object="${searchFilter}" - está no model como searchFilter (ClienteController) -->
            <fieldset>
              <!--        th:field="*{texto}": texto é o atributo da classe SearchFilter que está dentro do th:object="${searchFilter}"  -->
              <input type="text" th:field="*{texto}" placeholder="Buscar por...">
              <!--  searchRest(null) define o tipo de busca: pela caixa de texto ou clicando nos ícones-->
              <input type="button" value="Procurar" onclick="searchRest(null);">
            </fieldset>
          <br/>
        </div>

        <div id="divCategoriasComidaGeral">
          <div id="divCategoriasComidaOpcao" th:each="categoria : ${categorias}">
<!--            pode tb submeter formulário usando click-->
            <a href="#" th:onclick="'searchRest(' + ${categoria.id} + ');'">
              <img th:src="@{/images/categoria/}+${categoria.imagem}" id="imgCategoriaComida2"><br/>
              <span th:text="${categoria.nome}"></span>
            </a>
          </div>
        </div>
    </form>

  <div>
    <h1>Últimos pedidos</h1>
    <input type="button" value="#15124 McBlunalds" onClick="location.href='clientePedido.html';"><br/>
    <input type="button" value="#35464 Blue Pizza" onClick="location.href='clientePedido.html';"><br/>
    <input type="button" value="#38754 Hard Blue" onClick="location.href='clientePedido.html';"><br/>
  </div>

  <div>
    <h1>Conta</h1>
    <input type="button" value="Meus dados" th:onclick="'location.href=\'' + @{/cliente/edit} + '\';'" />
    <input type="button" value="Sair" th:onclick="'location.href=\'' + @{/logout} + '\';'" />
  </div>
</div>

</body>
</html>