<!DOCTYPE html>
<html
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">

<body>
	<div layout:fragment="content">
				<div id="divLogotipoSistema">
					<span id="spanAuxiliarDeAlinhamentoVertical"></span>
					<a href="/">
						<img src="images/bf_logotipoSistema.png" id="imgLogotipoSistema">
					</a>
				</div>
				<div id="divUsuarioLogado">
					Olá Nome do Usuário!
					<br/><img src="images/bf_iconeCarrinho.png" id="imgIconeCarrinho">
				</div>


			<div>
				<h1>É hora de rangar!</h1>
				<form method="post" action="clienteBusca.html">
					<fieldset>
						<input type="text" name="email" placeholder="Buscar por...">
						<input type="submit" value="Procurar">
					</fieldset>
				</form>
				<br/>
			</div>

			<div id="divCategoriasComidaGeral">
				<div id="divCategoriasComidaOpcao2">
					<a href="#">
					<img src="images/sys_categoriaChurrasco.png" id="imgCategoriaComida2"><br/>
					<span>Churrasco</span>
					</a>
				</div>

				<div id="divCategoriasComidaOpcao3">
					<a href="#">
					<img src="images/sys_categoriaHamburguer.png" id="imgCategoriaComida3"><br/>
					<span>Hamburguer</span>
					</a>
				</div>

				<div id="divCategoriasComidaOpcao4">
					<a href="#">
					<img src="images/sys_categoriaPizza.png" id="imgCategoriaComida4"><br/>
					<span>Pizza</span>
					</a>
				</div>

				<div id="divCategoriasComidaOpcao5">
					<a href="#">
					<img src="images/sys_categoriaSalada.png" id="imgCategoriaComida5"><br/>
					<span>Salada</span>
					</a>
				</div>

				<div id="divCategoriasComidaOpcao">
					<a href="#">
					<img src="images/sys_categoriaSobremesa.png" id="imgCategoriaComida"><br/>
					<span>Sobremesa</span>
					</a>
				</div>
			</div>

			<div>
				<h1>Últimos pedidos</h1>
				<input type="button" value="#15124 McBlunalds" onClick="location.href='clientePedido.html';"><br/>
				<input type="button" value="#35464 Blue Pizza" onClick="location.href='clientePedido.html';"><br/>
				<input type="button" value="#38754 Hard Blue" onClick="location.href='clientePedido.html';"><br/>
			</div>

			<div>
				<h1>Conta</h1>
				<input type="button" value="Meus dados" th:onclick="'location.href=\'' + @{/cliente/edit} + '\';'" />
				<input type="button" value="Voltar" th:onclick="'location.href=\'' + @{/logout} + '\';'" />
			</div>
	</div>
</body>
</html>

