<!DOCTYPE html>
<html
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<title>BlueFood</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/bf_estiloSistema.css}"/>
	</head>
	<body>
		<header>
			<div id="divLogotipoSistema">
				<span id="spanAuxiliarDeAlinhamentoVertical"></span>
				<a th:href="@{/}">
					<img th:src="@{/images/bf_logotipoSistema.png}" id="imgLogotipoSistema"/>
				</a>
			</div>
		</header>
		<br/><br/>
		<!-- Cabeçalho - Fim -->


		<!--	CORPO	-->
		<div layout:fragment="content"></div>

		<!-- Rodapé - Início -->
		<br/><br/>
	</body>
</html>

