<!DOCTYPE html>
<html
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">

	<body>
		<!--	add a tela de layout-->
		<div layout:fragment="content">
			<div>
				<img th:src="@{/images/bf_iconeUsuario.png}" id="imgIconeUsuario"/>
				<h1>Autenticação</h1>
				<form method="post" action="">
					<fieldset>
						<input type="text" name="email" placeholder="E-mail..."/>
						<input type="password" name="senha" placeholder="Senha..."/>
						<input type="button" value="Entrar" onClick="location.href = 'clienteHome.html';"/>
					</fieldset>
				</form>
				<br>

				<div id="mensagemDeErro">
					Aqui vai um exemplo de mensagem de erro
				</div><br/>

				<input type="button" value="Gostaria de criar a minha conta de usuário" onClick="location.href='clienteCadastro.html';"/>
				<br/>
				<input type="button" value="Gostaria de criar a minha conta de restaurante" onClick="location.href='restauranteCadastro.html';"/>
			</div>
		</div>
	</body>
</html>

