<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
	  th:with="link=@{/restaurante/home}">

<body>
	<div layout:fragment="content">

		<div>
			<h1>PEDIDO</h1>

			<div id="mensagemDeSucesso" th:if="${msg != null}">
				<span th:text="${msg}"></span><br />
			</div>

			<br />

			<form method="post" th:action="@{/restaurante/pedido/proximoStatus}">
				<input type="hidden" name="pedidoId" th:value="${pedido.id}" />
				<input type="submit" th:value="'Status: ' + ${pedido.status.descricao}" th:disabled="${pedido.status.ultimo}" /><br />
			</form>
		</div>

		<br />
		<br />

		<div id="divLarguraPadrao">
			<span id="restauranteOpcaoTitulo2">Data</span><br />
			<span id="restauranteOpcaoTaxa2" th:text="${#temporals.format(pedido.data, 'dd/MM/yyyy HH:mm')}"></span>
		</div>
		<br /><br />

		<div id="divLarguraPadrao2">
			<span id="restauranteOpcaoTitulo3" th:text="${pedido.cliente.nome}"></span><br />
			<span id="restauranteOpcaoTaxa3" th:text="'CEP: ' + ${pedido.cliente.formattedCep}"></span>
		</div>
		<br /><br />


		<div th:each="item : ${pedido.itens}">
			<span id="restauranteOpcaoTitulo4" th:text="${item.itemCardapio.nome}"></span><br />
			<span id="restauranteOpcaoTaxa4" th:text="'Quantidade: ' + ${item.quantidade}"></span><br />
			<span id="restauranteOpcaoTaxa5" th:text="${item.observacoes}"></span><br />
			<span id="restauranteOpcaoTaxa6" th:text="${#numbers.formatCurrency(item.itemCardapio.preco)}"></span>
		</div>
		<br /><br />

		<div>
			<span id="restauranteOpcaoTitulo5">Taxa de entrega</span><br />
			<span id="restauranteOpcaoTaxa7" th:text="${#numbers.formatCurrency(pedido.taxaEntrega)}"></span>
		</div>
		<br /><br />

		<div>
			<span id="restauranteOpcaoTitulo">Total</span><br />
			<span id="restauranteOpcaoTaxa" th:text="${#numbers.formatCurrency(pedido.total)}"></span>
		</div>
		<br /><br />

		<input type="button" value="Voltar" th:onclick="'location.href=\'' + @{/restaurante/home} + '\';'" />

	</div>
</body>
</html>

