<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
	  th:with="link=@{/restaurante/home}">

<body>
	<div layout:fragment="content">
			<div>
				<h1>Configurações</h1>
				<input type="button" value="Dados básicos" th:onclick="'location.href=\''+@{/restaurante/edit}+'\';'"><br/>
				<input type="submit" value="Comidas" th:onclick="'location.href=\''+@{/restaurante/comidas}+'\';'"><br/>
				<input type="submit" value="Relatório de Pedidos" onClick="location.href='restauranteRelatorioPedidos.html';"><br/>
				<input type="submit" value="Relatório de Itens" onClick="location.href='restauranteRelatorioItens.html';"><br/>
				<input type="button" value="Sair" th:onclick="'location.href=\''+@{/logout}+'\';'"><br/>
			</div>

			<div>
				<h1>Pedidos em andamento</h1>
				<input type="submit" value="#35334" onClick="location.href='restaurantePedido.html';"><br/>
				<input type="submit" value="#8956" onClick="location.href='restaurantePedido.html';"><br/>
				<input type="submit" value="#14214" onClick="location.href='restaurantePedido.html';"><br/>
			</div>
	</div>
</body>
</html>

